@font-face {
  font-family: 'JacquesFrancois';
  src: url('./assets/fonts/JacquesFrancois-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "JacquesFrancois";
}